.header-color{
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mr-auto{
  font-size: 20px;
}
.gap{
  height: 50px;
}
.landing-intro{
  color:white;
  padding: 25px;
  height: 32px;
  font-weight: 600;
  font-family: 'Roboto Mono', monospace;
}
.landing-grid{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  overflow: hidden;
}
.myself-img{
  height: 250px;
	border-radius: 999em;
	border: 10px solid #000;
	background: #000;

}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  font-family: 'Mogra', cursive;
background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
border: 5px solid #000;

}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  font-family: 'Mogra', cursive;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

}

.social-links i{
color: white;
font-size: 5em;
padding: 8px;
}
