.header-color{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;

}
.projectcard{
margin: auto;
justify-content: center;
display:inline-block;
display: flex;
justify-content: center;
align-items: center;
}
.proj{
  margin-top: 75px;
  justify-content: center;
  text-align: center;
}
.projectcards{
  margin-left: 15px;
}
.img2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 300px;
  height: 300px;
}
.logos{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  
}
.logos a:hover{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  
}
.intro-text{
  text-align: center;
}
.header-color1{
background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.pdf{
  margin-top: 50px;
}
.description-bio{
  color: #3C4858;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
.description-bio1{
  margin-top: 50px;
  color: #3C4858;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
.intro{
  margin-top: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #3C4858;
  text-align: center;
}
.intro2{
  margin-top: 25px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
  text-align: center;
}
.intro3{
  margin-top: 60px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  text-align: center;
}
.intro4{
  margin-top: 60px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #3C4858;
  text-align: center;
}

.icons{
  text-align: center;
}
.photo1{
  margin-top: 25px;
}
.introskills{
  margin-top: 50px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #3C4858;
  text-align: center;
}
.cardd{
  
    margin: auto;
    box-shadow: 10px 0 4px -4px grey , -10px 0 4px -4px grey; 
 -moz-box-shadow: 10px 0 4px -4px grey, -10px 0 4px -4px grey; 
-webkit-box-shadow: 10px 0 4px -4px grey, -10px 0 4px -4px grey;
background-color: rgb(255,255,255)
}

.landing-grid{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
.myself-back{
  color: #000;
}
.myself-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 250px;
	border-radius: 999em;
	border: 10px solid #000;
	background: #000;
  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 80px rgb(70, 166, 255),
  inset -20px 0 80px #0ff,
  inset 20px 0 300px rgb(70, 166, 255),
  inset -20px 0 300px #0ff,
  0 0 50px #fff,
  -10px 0 80px rgb(70, 166, 255),
  10px 0 80px #0ff;
}
.nav-text{
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}
.nav-text1{
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  line-height: 60px;
}
.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}