.header-color{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.header-color1{
  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
position: fixed;
}
.description-bio{
  margin-top: 50px;
  font-family: 'Mogra', cursive;
  font-size: 20px;
}
.gap{
  height: 50px;
}
.landing-intro{
  color:white;
  padding: 25px;
  height: 32px;
  font-weight: 600;
  font-family: 'Roboto Mono', monospace;
}
.landing-grid{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
.myself-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
	border-radius: 999em;
	border: 10px solid #000;
	background: #000;
  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 80px #f0f,
  inset -20px 0 80px #0ff,
  inset 20px 0 300px #f0f,
  inset -20px 0 300px #0ff,
  0 0 50px #fff,
  -10px 0 80px #f0f,
  10px 0 80px #0ff;
}

.landing-Container{
    
}
